{% extends 'layout.html.twig' %}

{% block title %}Edycja{% endblock %}

{% block content %}
    <section class="addEditInformation">
        <h1>Edycja</h1>

        {{ include('informations/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('informations_index') }}">powró do listy</a>

        {{ include('informations/_delete_form.html.twig') }}
        </section>
{% endblock %}
