/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-Dec-2018, 13:56:24
    Author     : Radek
*/

@font-face{
    font-family: ThirstyScriptExtraBoldDemo;
    src:url(/fonts/ThirstyScriptExtraBoldDemo.otf);
}

* {
    box-sizing:border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
    left:0;
    right:0;
}


//for desktop
$widthForDesktop:1100px;

html{
    min-height:100vh;

    body{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        width:$widthForDesktop;
        min-height:100%;
        margin:0 auto;
        padding:0;

        header{
            z-index:5;
            width:$widthForDesktop;
            height:35px;
            font-size: 21px;
            margin:0 auto;
            text-align: center;
            position: fixed;
            background: #635252;
        }

        main{
            width: 1100px;
            min-height:100vh;
        }

        footer{
            width:$widthForDesktop;
            z-index: 3;
            position: relative;
            background: linear-gradient( #4b2929 -50%, #858585 ,  #4b2929 150%);
            background-attachment: fixed;
        }
    }
}


section#logo{
    float:left;
    height:100%;
    width:200px;
    background:#635252 ;

    a{  //link to main page
        font-family: ThirstyScriptExtraBoldDemo;
        background: linear-gradient(-45deg, #23A6D5, #23D5AB);
        background-size: 240% 240%;
        -webkit-animation: Gradient 12s ease infinite;
        -moz-animation: Gradient 12s ease infinite;
        animation: Gradient 12s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color:transparent;
        text-decoration: none;
    }
}


nav{
    width:900px;
    float:left;


    a{
        display:none;
        color:#fff;
    }

    section{
        float:left;
        & #menuSection{
            width:$widthForDesktop;
            height:30px;
        }
    }
}

//menu
nav ul{
    list-style-type: none;
    width:$widthForDesktop;
    z-index:5;


    li{
        float:left;
        width:225px;
        background:transparent;
        height:35px;
        background: #635252 ;

        ul{
            position:relative;
            transform:scaleY(0);
            transform-origin:top ;
            width:100%;
            transition:0.4s ease-in-out;

            li{
                width:100%;
           }
        }

        &:hover{

            ul{
                transform:scaleY(1);
            }

            >a{
                background: #fff;
                color: #000;
                &:after {
                    background: #b20;
                    position: relative;
                    width:100%;
                    left:0;
                }
            }
        }

        a{
            display:block;
            width:100%;
            height:100%;
            text-decoration: none;
            transition:0.4s ease-in-out;
            color:rgb(255, 255, 255);
            font-weight: 400;
           background: transparent;

            &:after{
                transition:0.4s ease-in-out;
                width:0;
                left:50%;
                height:3px;
                content:"";
                position:relative;
                top:8px;
                background:transparent ;
                display:block;
            }
        }
   }
}

section#mostPopular{
    width:$widthForDesktop;
    min-height:400px;
    float:left;
    text-align: center;

    h2{
        padding:20px;
    }
}

section#lastAdded{
    width:$widthForDesktop;
    height:400px;
    text-align: center;
    float:left;
    border-top:1px solid black;

     h2{
        padding:20px;
    }
}

footer{
    float:left;
    width:100%;
    height:200px;
    background: linear-gradient( #858585 -50%, #4b2929 ,  #858585 150%);
    background-attachment: fixed;

    section{
        width:33.3%;
        float:left;
        padding:10px;

        a{
            text-decoration: none;
            width:100%;
            float:left;
            color:#fff;
            font-size: 18px;
            text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
        }
    }
}


section.headContentRecipes{
    width: 1100px;
    margin:0 auto;
    height:250px;
    background: linear-gradient( #858585 -50%, #4b2929 ,  #858585 150%);
    background-attachment: fixed;

    h1 {
        text-align: center;
        color:#fff;
        font-size:30px;
        position:fixed;
        left:0;
        right:0;
    }
}

#latest .headContentRecipes h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
    top:95px;
    left: 0;
    right: 0;

}

.articles{
    display: grid;
    z-index: 4;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;

    a{
        width: 100%;
        height: 100%;
        text-decoration: none;
        margin:0;
        overflow:hidden;
        display: block;
        position: relative;

        img{
            display: block;
            min-width: 100%;
            height: 100%;
            position: absolute;
            transition:1s ease-out;
        }

        .articleTitle{
            display:block;
            width:100%;
            position: absolute;
            height:100%;
            line-height: 100%;
            top:0;
            bottom:0;
            padding-top:25%;
            color:black;
            background-color:rgba(255,255,255,0.3);
            font-size: 22px;
            font-weight:600;
            text-align: center;
        }

        .articleDescription{
            line-height:40px;
            font-size: 18px;
            height:40px;
            width:100%;
            display: none;
            position:relative;
            top:100%;
            background-color:rgba(144,144,144,0.8);
            visibility:visible;
            transition:0.5s ease-out;
            opacity:1;

        }

        &:hover{

            img{
                transform:scale(1.05);
            }

            .articleTitle{
                background-color:rgba(255,255,255,0.7);
            }

            .articleDescription{
                top:calc(100% - 40px);
                display: block;
            }
        }
    }
}


#latest>div,#mostPopular>div{
    position: relative;
    display: block;
    width: 100%;
    height:250px;
}

#mostPopular .headContentRecipes{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

#mostPopular .headContentRecipes h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
    left: 0;
    right: 0;
    position:relative;
    z-index:-2;
    display:block;
}

//dodawanie postu
form[name=informations]{
    background: rgb(111, 207, 178);
    margin: 10px auto;

    input,textarea,button,select,option  {
        height:40px;
    }

    label{
        margin:15px;
        width:250px;
    }
}



section.headTitle{
    width: 1100px;
    margin:0 auto;
    height:250px;
    background: linear-gradient( #4b2929 , #858585 ,  #4b2929 );
    background-attachment: fixed;


    h1 {
        text-align: center;
        color:#fff;
        font-size:30px;
        position:fixed;
        left:0;
        right:0;
        top:40px;
    }
}


article.showArticle{

    img{
        width: 100%;
        height: 100%;
        margin:0 auto;
    }
}




div.postAuthor,
div.postCity,
div.postCategory,
div.postDate{
    width:100%;
    border-bottom: 1px solid #ccc;
    display:block;
    height:30px;
    text-align:center;
    padding:3px;
    margin:3px;
}

div.postDescription{
    padding:10px;

    &:first-letter{
        font-size:22px;
        font-weight: 800;
        text-transform: uppercase;
    }
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media all and (max-width: 1099px){

    html{

        body{
            width: 100%;

            header{
                display:flex;
                width: 100%;
                justify-content:space-between;
            }

            main{
                width: 100%;
            }

            footer{
                width: 100%;
            }
        }
    }

    //menu
    nav{
        width:225px;
        display:block;
        flex-direction: column;
        justify-content: flex-end;
        -ms-flex-direction: column;


        a.menuButton {
            text-decoration: none;
            color:rgb(255, 255, 255);
            display: block;
            border-color: rgb(255, 255, 255);
            border-width:0 0 1px 0px;
            border-style:solid;
        }

        a.showMenu{
            border:none;
            & ~ section{
                display:flex;
                flex-direction: column;

            }
        }

        section{
            display:none;

            ul{
                display: flex;
                flex-direction: column;


                li{
                    display:flex;
                    flex-direction: column;
                    transition: all .4s ease-in-out;
                    height: 28px;
                    &:hover{
                        transition: all .4s ease-in-out;
                        height: 100%;

                    }

                    a::after{
                        top:3px;
                    }

                }
            }
        }
    }



    section#mostPopular,
    section#latest,
    section{
        width: 100%;

        div{
            width: 100%;
        }

        .headContentRecipes{
            z-index: 5;
            margin: 0;
            width: 100%;
        }
    }

    .articles{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media all and (max-width: 699px) {

    .articles{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}